# Managed by Ansible (hosts/roles/traefik_server) -- edits get overwritten.
# This host's routes, collected from traefik_server_routes* variables.
{% if _traefik_server_routes | length == 0 %}
{}
{% else %}
http:
  routers:
{% for src in _traefik_server_sources %}
    # from {{ src }}
{% for r in lookup('vars', src) %}
{% set hosts = r.host if (r.host is defined and r.host is not string) else ([r.host] if r.host is defined else []) %}
    {{ r.name }}:
      rule: {{ (r.rule | default(hosts | map('regex_replace', '^(.*)$', 'Host(`\\1`)') | join(' || '))) | to_json }}
      entryPoints: [{{ traefik_server_entrypoint_websecure }}]
      service: {{ r.name }}
{% if r.middlewares is defined and r.middlewares | length > 0 %}
      middlewares: {{ r.middlewares | to_json }}
{% endif %}
      tls: {}
{% endfor %}
{% endfor %}
  services:
{% for r in _traefik_server_routes %}
    {{ r.name }}:
      loadBalancer:
        servers:
          - url: {{ r.backend | to_json }}
{% endfor %}
{% endif %}
