# Managed by Ansible (hosts/roles/server_certwarden) -- edits get overwritten.
# Not published on purpose: 4060 (http-01 challenge server; we use DNS-01) and
# 4065/4070 (pprof debug servers).
services:
  certwarden:
    container_name: certwarden
    image: ghcr.io/gregtwallace/certwarden:{{ server_certwarden_version }}
    restart: unless-stopped
    environment:
      TZ: UTC
    ports:
      - "{{ server_certwarden_bind_address }}:{{ server_certwarden_http_port }}:4050"
      - "{{ server_certwarden_bind_address }}:{{ server_certwarden_https_port }}:4055"
    volumes:
      - certwarden-data:/app/data

volumes:
  certwarden-data:
