[Unit]
Description=Kuzka ansible-pull reconciliation run
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
# TODO: --vault-password-file once secrets move to ansible-vault (see README)
ExecStart=/usr/bin/ansible-pull \
  -U %KUZKA_REPO_URL% \
  -C %KUZKA_REPO_BRANCH% \
  -i inventory/tailscale.yml \
  hosts/site.yml
